.main {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  width: 200px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 4px 8px;
  width: 100%;
  height: 220px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 28px 3px;
  height: 36px;
  text-transform: uppercase;
  line-height: 0.95;
  font-size: 0.8rem;
}

.phase {
  text-transform: uppercase;
  font-size: 0.65rem;
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.description {
  font-size: 0.8rem;
  line-height: 1;
}

.extra {
  margin-top: 10px;
  font-size: 0.6rem;
  line-height: 1.2;
}

.points {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.4rem;
}

.pointsLabel {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.5rem;
  text-transform: uppercase;
}

.expansion {
  position: absolute;
  top: 160px;
  right: 5px;
  font-size: 0.7rem;
}
