.main {
  position: relative;
  display: inline-block;
  margin: 2px;
  padding: 8px;
  border: 1px solid;
  width: 200px;
  height: 270px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  height: 45px;
  text-transform: uppercase;
  line-height: 0.9;
}

.phase {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.description {
  line-height: 1;
}

.extra {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1.2;
}

.points {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.4rem;
}

.pointsLabel {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.7rem;
  text-transform: uppercase;
}

.expansion {
  position: absolute;
  bottom: 4px;
  right: 6px;
  font-size: 0.7rem;
}
