.container {
  --height: calc(100vh - 20px);
  --translateY-shift: 400px;
  position: absolute;
  top: 10px;
  left: 10%;
  z-index: 21;
  width: calc(80% - 10px);
  height: calc(100vh - 20px);
  background: #23759e;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
}
