.total {
  width: 100%;
  padding: 6px;
  -webkit-user-select: none;
  user-select: none;
}

.main {
  max-width: 500px;
  margin-inline: 25px 0;
  text-align: center;
}

.main a {
  text-decoration: none;
}

.showMenu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
