.button {
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 10px;
  cursor: pointer;
}

.active {
  background: #11b003;
}

.inactive {
  background: #0307e2;
}
