.main {
  margin-bottom: 120px;
  margin-inline: auto;
  vertical-align: top;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;

  display: grid;
  grid-template-columns: repeat(11, 150px);
  grid-template-rows: repeat(2, 260px);

  & > div {
    grid-column: span 2;
    &:first-child {
      grid-column: 2 / span 2;
    }
  }
}
