.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  vertical-align: top;
  -webkit-user-select: none;
  user-select: none;
}

.block {
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
