.container {
  position: absolute;
  top: 50px;
  left: 5%;
  z-index: 21;
  width: calc(90% - 10px);
  height: calc(100vh - 100px);
  background: hsla(239, 60%, 70%, 0.85);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
}

.table {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
