.main {
  position: relative;
  display: inline-block;
  margin: 0 -25px;
  width: 340px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.canvas {
  position: relative;
}

.hex {
  cursor: pointer;
  pointer-events: fill;
}

.magnified:hover {
  transform: scale(1.7) translateY(-15%);
  z-index: 200;
}

.magnified:hover +.content {
  transform: scale(1.7) translateY(-28%);
  z-index: 200;
}

.flower {
  cursor: pointer;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
  /* filter: drop-shadow(0 0 20px rgba(21, 130, 219, 0.8)); */
  pointer-events: fill;
}

.content {
  position: absolute;
  top: 80px;
  left: 10%;
  margin: 0;
  padding: 4px 8px;
  width: 80%;
  height: 215px;
  pointer-events: none;
  --base-height: 221px;
}
