.main {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 270px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.hex {
  cursor: pointer;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
}

.flower {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); 
}

.clickable {
  cursor: pointer;
}