.main {
  position: relative;
  display: inline-block;
  margin: 0 -25px;
  width: 340px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.hex {
  cursor: pointer;
  pointer-events: fill;
}

.flower {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  pointer-events: fill;
}
