.block {
  display: inline-block;
  width: 100%;
  padding: 50px 10px;
}

.canvas {
  vertical-align: top;
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.8));
}

.clickable {
  pointer-events: fill;
  cursor: pointer;
}
