.main {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 200px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.hex {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
}