
.content {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 4px 20px;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 32px;
  height: 36px;
  text-transform: uppercase;
  line-height: 0.90;
  font-size: 0.84rem;
}

.phase {
  text-transform: uppercase;
  font-size: 0.65rem;
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 20px;
}

.description {
  font-size: 0.8rem;
  line-height: 1;
}

.extra {
  margin-top: 10px;
  font-size: 0.6rem;
  line-height: 1.2;
}

.points {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.4rem;
}

.pointsLabel {
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.5rem;
  text-transform: uppercase;
}

.expansion {
  position: absolute;
  bottom: 9px;
  right: 64px;
  font-size: 0.7rem;
}
