.content {
  position: relative;
  width: calc(2 * sqrt(3) / 3 * var(--base-height)); /*  */
  height: var(--base-height);

  color: white;
}

.title {
  height: 30%;
}

.phase {
  height: 7%;
  text-transform: uppercase;
  font-size: 0.65rem;
}

.description {
  height: 50%;
  padding: 0 12px;
}

.points {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
}

.pointsLabel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  text-transform: uppercase;
}

.expansion {
  position: absolute;
  bottom: 0;
  right: 65px;
  font-size: 0.7rem;
}
