.main {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  width: 266px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.content {
  pointer-events: none;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 4px 8px;
  --base-height: 216px;
}

.hex {
  fill: rgb(64, 64, 128);
  stroke-width: 5px;
}