.item {
  position: relative;
  margin: 0;
  padding: 0;
  width: var(--_item-width);
  grid-row: span 2;

  &:nth-child(1) {
    grid-column: 2;
    z-index: 1;
  }
  
  &:nth-child(2) {
    grid-column: 3;
    grid-row: 2 / span 2;
    z-index: 2;
  }
  
  &:nth-child(3) {
    grid-column: 3;
    z-index: 3;
  }
  
  &:nth-child(4) {
    grid-column: 2;
    z-index: 4;
  }
  
  &:nth-child(5) {
    grid-row: 4 / span 2;
    grid-column: 1;
    z-index: 3;
  }
  
  &:nth-child(6) {
    grid-row: 2 / span 2;
    grid-column: 1;
    z-index: 2;
  }
}
