.clickable {
  pointer-events: fill;
  cursor: pointer;
}

.clickable:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.canvas {
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.8));
}

.pointsText {
  fill: #3f3f3f;
  font-size: 5rem;
}

.enter {
  animation: hexesEnter 0.1s ease-in forwards;
}

.exit {
  animation: hexesExit 0.1s ease-out forwards;
}

@keyframes hexesEnter {
  from {
    transform: scale(0.7);
    transform-origin: center;
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes hexesExit {
  from {
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    transform-origin: center;
    opacity: 0;
  }
}
