.container {
  --block-margin: 40px;
  --inline-margin: 5%;

  position: absolute;
  top: var(--block-margin);
  left: var(--inline-margin);
  z-index: 21;
  width: calc(100% - 2 * var(--inline-margin) - 10px);
  height: calc(100vh - 2 * var(--block-margin));
  background: hsla(239, 60%, 70%, 0.85);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.header {
  width: 40%;
  margin-inline: auto;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(44, 178, 210);
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;

  -webkit-user-select: none;
  user-select: none;
}

.table {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
