.hex {
  cursor: pointer;
  pointer-events: fill;
  stroke-width: 8px;
}

.mount {
  fill: none;
  stroke: #aaaaaa;
  stroke-width: 12px;
}

.checked {
  fill: var(--color);
  stroke: whitesmoke;
  &:hover {
    fill: var(--hoverColor);
  }
}

.taken {
  fill: var(--stripesUrl);
  stroke: whitesmoke;
  &:hover {
    fill: var(--stripesHoverUrl);
  }
}

.new {
  fill: rgba(255, 255, 255, 0.01);
  stroke: var(--color);
  &:hover {
    stroke: var(--hoverColor);
  }
}

.plus {
  fill: whitesmoke;
}

.check {
  fill: var(--textColor, whitesmoke);
}
