.header {
  width: 40%;
  margin-inline: auto;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(44, 178, 210);
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  
  -webkit-user-select: none;
  user-select: none;
}

.table {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}