.container {
  --block-margin: 40px;
  --inline-margin: 5%;

  position: absolute;
  top: var(--block-margin);
  left: var(--inline-margin);
  z-index: 21;
  width: calc(100% - 2 * var(--inline-margin) - 10px);
  height: calc(100vh - 2 * var(--block-margin));
  background: hsla(239, 60%, 70%, 0.85);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
}

.table {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.canvas {
  height: 62px;
  pointer-events: none;
  position: absolute;
  top: -12px;
  left: -70px;
}

.hex {
  stroke: whitesmoke;
  stroke-width: 10px;
  cursor: pointer;
  pointer-events: fill;
}

.active {
  fill: hsl(115, 97%, 35%);
  &:hover {
    fill: hsl(115, 97%, 45%);
  }
}

.inactive {
  fill: hsl(240, 33%, 38%);
  &:hover {
    fill: hsl(240, 33%, 48%);
  }
}

.icon {
  stroke: whitesmoke;
}
