.total {
  width: 100vw;
  max-width: 100%;
  padding: 4rem 1rem;
}

.main {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.button {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  background-color: hsl(271, 76%, 53%);
  color: white;
  font-size: 1.5rem;
  border: 1px solid violet;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.disabled {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: hsl(271, 5%, 53%);
  border: 1px solid hsl(271, 5%, 53%);
}

.main a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: violet;
  cursor: pointer;
}

.italic {
  font-style: italic;
  margin-left: 10px;
  color: yellow;
}

h1 {
  color: blueviolet;
  margin-bottom: 50px;
}

.warning {
  margin-top: 50px;
  font-size: 1.1rem;
}

.redWarning {
  margin: 10px 0;
  font-size: 1.5rem;
  color: red;
}
