.main {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-left: 60px;
  /* min-height: 600px; */
}

.buttons {
  display: flex;
  flex-direction: column;
  max-height: 620px;
}

.button {
  flex-grow: 1;
  border: 1px solid;
  margin: 5px 0;
}

.active {
  background: hsl(115, 97%, 30%);
  border-color: hsl(115, 97%, 40%);
}

.inactive {
  background: hsl(239, 97%, 45%);
  border-color: hsl(239, 97%, 55%);
  cursor: pointer;
}

.label {
  color: hsl(197, 100%, 93%);
  white-space: nowrap;
  font-size: 1.3rem;
  transform: rotate(-90deg) translateX(-200px);
  pointer-events: none;
}

.tab {
  height: 100%;
  padding: 4px;
}
