.grid {
  --image-width: 120px;
  --image-height: calc(0.5 * sqrt(3) * var(--image-width));
  --gap: 18px;
}

.clock {
  grid-row: 3 / span 2;
  grid-column: 2;
  transform: translateY(-40%);
  width: var(--image-width);
  font-size: 2.8rem;
  color: hsl(39, 60%, 70%);
  -webkit-text-stroke: 1px hsl(39, 100%, 20%);
}