.faction {
  position: relative;
}

.portrait {
  width: 100%;
  margin: 0;
  padding: 0;
  filter: drop-shadow(2px 2px 10px hsla(239, 60%, 60%, 0.8));
}

.icon {
  position: absolute;
  bottom: 20px;
  left: 2px;
  width: 25%;
  z-index: 10;
  filter: drop-shadow(0 0 4px whitesmoke) drop-shadow(0 0 4px black);
}

.canvas {
  position: absolute;
  width: 100px;
  bottom: -16px;
  left: -11px;
  pointer-events: none;
}

.iconHex,
.pointsHex {
  fill: var(--color);
  stroke: whitesmoke;
}

.points {
  position: absolute;
  bottom: -16px;
  right: 50%;
  font-size: 2.6rem;
  letter-spacing: -4px;
  transform: translateX(calc(50% - 2px));
  color: var(--textColor);
}
