.main {
  position: relative;
  text-align: left;
  color: whitesmoke;
  border-bottom: 1px solid hsl(39, 60%, 70%);
  margin-block: 0 10px;
  padding: 2px 0 2px 6px;
  text-transform: uppercase;

  -webkit-user-select: none;
  user-select: none;
}