.enter {
  animation: overlayEnter 0.3s ease-in-out forwards;
}

.exit {
  animation: overlayExit 0.3s ease-in-out forwards;
}

@keyframes overlayEnter {
  from {
    /* transform: translateY(var(--translateY-shift)); */
    opacity: 0;
    /* height: calc(var(--height) - var(--translateY-shift)); */
  }
  to {
    /* transform: translateY(0); */
    opacity: 1;
    /* height: var(--height); */
  }
}

@keyframes overlayExit {
  from {
    /* transform: translateY(0); */
    opacity: 1;
    /* height: var(--height); */
  }
  to {
    /* transform: translateY(var(--translateY-shift)); */
    opacity: 0;
    /* height: calc(var(--height) - var(--translateY-shift)); */
  }
}
